@using MovieManagement.Models;
@model GenreViewModel
<div id="GenreModule">
    <div id="GenreGrid" class="container">
        <div>
            <h1>Genre Management</h1>
            <button id="btnAddGenre" type="button" class="btn btn-primary mt-1">Add Genre</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Added On</th>
                    <th scope="col">Added By</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tblBodyGenre">
            </tbody>
        </table>
    </div>
    <div id="GenreForm" class="container" style="display:none;">

        <form>
            <div class="form-group">
                <input type="hidden" id="hdnGenreID" value="0" />
                <label asp-for="GenreName" class="form-label"></label>
                <input id="txtGenreName" class="form-control">
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <input id="txtGenreDescription" type="text" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="button" id="btnSaveGenre" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-warning">Reset</button>
                <button id="btnBackToGrid" type="button" class="btn btn-dark">Back</button>
            </div>
        </form>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    </div>
</div>
<script src="/dashboard/js/GenreManager.js"></script>
<script>
    $(function () {
        $('#GenreModule').ManageGenre();
    });
</script>
